
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


h1, h2, h3 {color: #FF8000;
  width: 270px;
  background-color: purple;
  height: auto;
  margin-left: auto;
  margin-right: 5%;
  margin-bottom: 15px;
  margin-top: auto;
  font-size: 20pt;
  text-align: center;
  position: relative;
  top: 49px;

}
p {
  background-color: #FF8000;
  width: 90%;
  height: 290px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: black;
  border: 1px solid purple;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}


/********** Minimum devices only **********/
@media (max-width: 767px)) {
  .col-mi-1, .col-mi-2, .col-mi-3, .col-mi-4, .col-mi-5, .col-mi-6, .col-mi-7, .col-mi-8, .col-mi-9, .col-mi-10, .col-mi-11, .col-mi-12 {
    float: left;
  }
  .col-mi-1 {
    width: 8.33%;
  }
  .col-mi-2 {
    width: 16.66%;
  }
  .col-mi-3 {
    width: 25%;
  }
  .col-mi-4 {
    width: 33.33%;
  }
  .col-mi-5 {
    width: 41.66%;
  }
  .col-mi-6 {
    width: 50%;
  }
  .col-mi-7 {
    width: 58.33%;
  }
  .col-mi-8 {
    width: 66.66%;
  }
  .col-mi-9 {
    width: 74.99%;
  }
  .col-mi-10 {
    width: 83.33%;
  }
  .col-mi-11 {
    width: 91.66%;
  }
  .col-mi-12 {
    width: 100%;
  }
}
